 @import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  font-weight: 800;
}

body {
  background-image: url("assets/bg.png");
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: aliceblue;
}

.calculator-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  border-radius: 0.3em;
  backdrop-filter: blur(14px) brightness(35%);
  width: 30%;
  height: 80%;
  position: absolute;
  border-radius: 0.3em;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(14px) brightness(35%);
}

.number-display-container {
  border-bottom: 2px solid rgb(6, 114, 236);
  border-radius: 0.5em;
  font-size: 200%;
  padding: 0.5em;
  width: 100%;
  max-width: 100%;
  height: 18%;
  min-height: 18%;
}

.number-on-screen {
  border-top: 2px solid rgb(6, 114, 236);
  border-radius: 0.5em;
  font-size: 100%;
  width: 100%;
  min-height: 5%;
  height: 5%;
  margin: 0;
  padding: 0.5em;
  box-shadow: 0em 0em #76e1ff;
}

.calculator-row.top {
    margin-top: -0.8em;
  }

  .calculator-row {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

.calculator-button {
  display: flex;
  flex-basis: 25%;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  margin: 2px 2px;
  border-radius: 0.3em;
  border: 1px solid rgb(6, 114, 236);
  color: rgb(117, 171, 247);
  text-shadow: 0.1rem 0.1rem 0.1rem #3f009e;
  box-shadow: 1px 1px #76e1ff, -1px -1px #3f009e;
  } 
  
  #eq-btn, #ac-btn {
    flex-basis: 51%;
    font-size: 100%;
    margin: 2px 2px;
    border-radius: 0.3em;
    border: 1px solid rgb(6, 114, 236);
    color: aliceblue;
    text-shadow: 0.1rem 0.1rem 0.1rem #3f009e;
    box-shadow: 1px 1px #76e1ff, -1px -1px #3f009e;
  }
 